copy_directory.yml
copy_remote.yml
copy_test.yml
copy_test2.yml
dir_check.yml
dir_creation.yml
dir_creation2.yml
fetch1.yml
fetch2.yml
fetch3.yml
fetched/
files/
first_test.yml
group_vars/
outputs/
shell_args_loop.yml
shell_command.yml
shell_injection.yml
template1.yml
templates/
write_file.yml
